<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>@Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@Description">
    <meta name="author" content="@Properties["project-author"]">

    <script src="https://code.jquery.com/jquery-1.8.0.js"></script>
    <script src="https://code.jquery.com/ui/1.8.23/jquery-ui.js"></script>
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="@Root/content/style.css" />
    <link type="text/css" rel="stylesheet" href="@Root/content/deedle.css" />
    <script type="text/javascript" src="@Root/content/tips.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="http://fsharp.org">fsharp.org</a></li>
          <li><a href="http://fslab.org/RProvider"><img height=" 16" width="16" src="http://fsharp.org/images/thumbs/FSharpRProvider.png" /> R Provider</a></li>
          <li><a href="http://fsharp.github.io/FSharp.Charting/"><img height="16" width="16" src="http://fsharp.org/images/thumbs/FSharp.Charting.png" /> F# Charting</a></li>
          <li><a href="http://fsharp.github.io/FSharp.Data"><img height="16" width="16" src="http://fsharp.org/images/thumbs/FSharp.Data.png" /> F# Data</a></li>
          <li><a href="http://fsprojects.github.io/FSharp.Data.Toolbox"><img height="16" width="16" src="http://fsharp.org/images/thumbs/FSharp.Data.Toolbox.png" /> F# Data Toolbox</a></li>
        </ul>
        <h3 class="muted"><a href="@Root/index.html">@Properties["project-name"]</a></h3>
      </div>
      <hr />
      <div class="row">
        <div class="span9" id="main">
          @RenderBody()
        </div>
        <div class="span3">
          <a href="@Root/index.html">
            <img src="@Root/images/logo.png" style="width:140px;height:140px;margin:10px 0px 0px 35px;border-style:none;" />
          </a>

          <ul class="nav nav-list" id="menu">
            <li class="nav-header">@Properties["project-name"]</li>
            <li><a href="@Root/index.html">Home page</a></li>
            <li class="divider"></li>
            <li><a href="@Properties["project-nuget"]">Get Library via NuGet</a></li>
            <li><a href="@Properties["project-github"]">Source Code on GitHub</a></li>
            <li><a href="@Properties["project-github"]/blob/master/LICENSE.md">License (BSD)</a></li>
            <li><a href="@Root/RELEASE_NOTES.html">Release notes</a></li>
            <li><a href="@Root/design.html">Design notes</a></li>
            <li><a href="http://stackoverflow.com/questions/tagged/deedle">Ask a question!</a></li>
            
            <li class="nav-header">Using from F#</li>
            <li>
              <a href="@Root/tutorial.html">Quick start tutorial</a>
              @if (Properties.Dictionary.ContainsKey("page-source") && Properties["page-source"].ToString().EndsWith("tutorial.fsx")) 
              {
              <ul class="nav nav-list">
                <li><a href="@Root/tutorial.html#creating">Creating data frames</a></li>
                <li><a href="@Root/tutorial.html#reindexing-and-joins">Using index & joining</a></li>
                <li><a href="@Root/tutorial.html#selecting">Reading values, slicing</a></li>
                <li><a href="@Root/tutorial.html#timeseries">Ordered time series</a></li>
                <li><a href="@Root/tutorial.html#projections">Projection and filtering</a></li>
                <li><a href="@Root/tutorial.html#grouping">Aggregating groups</a></li>
              </ul>
              }
            </li>
            <li>
              <a href="@Root/series.html">Working with time series</a>
              @if (Properties.Dictionary.ContainsKey("page-source") && Properties["page-source"].ToString().EndsWith("series.fsx"))
              {
              <ul class="nav nav-list">
                <li><a href="@Root/series.html#alignment">Alignment & joining</a></li>
                <li><a href="@Root/series.html#windowing">Windows and chunks</a></li>
                <li><a href="@Root/series.html#sampling">Lookup and resampling</a></li>
                <li><a href="@Root/series.html#stats">Statistics & math</a></li>
              </ul>
              }
            </li>
            <li>
              <a href="@Root/frame.html">Working with data frames</a>
              @if (Properties.Dictionary.ContainsKey("page-source") && Properties["page-source"].ToString().EndsWith("frame.fsx"))
              {
              <ul class="nav nav-list">
                <li><a href="@Root/frame.html#creating">Creating & loading</a></li>
                <li><a href="@Root/frame.html#dataframe">Frame manipulation</a></li>
                <li><a href="@Root/frame.html#slicing">Advanced slicing</a></li>
                <li><a href="@Root/frame.html#grouping">Grouping data</a></li>
                <li><a href="@Root/frame.html#pivot">Pivot table</a></li>
                <li><a href="@Root/frame.html#indexing">Hierarchical indexing</a></li>
                <li><a href="@Root/frame.html#missing">Missing values</a></li>
              </ul>
              }
            </li>
            <li>
              <a href="@Root/stats.html">Statistics &amp; calculations</a>
              @if (Properties.Dictionary.ContainsKey("page-source") && Properties["page-source"].ToString().EndsWith("stats.fsx"))
              {
              <ul class="nav nav-list">
                <li><a href="@Root/stats.html#stats">Series and frame statistics</a></li>
                <li><a href="@Root/stats.html#moving">Moving windows</a></li>
                <li><a href="@Root/stats.html#exp">Expanding windows</a></li>
                <li><a href="@Root/stats.html#multi">Multi-level key statistics</a></li>
              </ul>
              }
            </li>
            <li>
              <a href="@Root/rinterop.html">Using Deedle with R</a>
              @if (Properties.Dictionary.ContainsKey("page-source") && Properties["page-source"].ToString().EndsWith("rinterop.fsx"))
              {
              <ul class="nav nav-list">
                <li><a href="@Root/rinterop.html#setup">Getting started</a></li>
                <li><a href="@Root/rinterop.html#frames">Working with data frames</a></li>
                <li><a href="@Root/rinterop.html#series">Working with time series</a></li>
              </ul>
              }
            </li>

            <li class="nav-header">Using from C#</li>
            <li><a href="@Root/csharpintro.html">Getting started</a></li>
            <li>
              <a href="@Root/csharpseries.html">Working with data series</a>
              @if (Properties.Dictionary.ContainsKey("page-source") && Properties["page-source"].ToString().EndsWith("csharpseries.md"))
              {
              <ul class="nav nav-list">
                <li><a href="@Root/csharpseries.html#understanding">What is a series</a></li>
                <li><a href="@Root/csharpseries.html#creating">Creating & loading</a></li>
                <li><a href="@Root/csharpseries.html#lookup">Lookup and slicing</a></li>
                <li><a href="@Root/csharpseries.html#calc">Series-wise calculations</a></li>
                <li><a href="@Root/csharpseries.html#missing">Missing values</a></li>
                <li><a href="@Root/csharpseries.html#linq">LINQ to Series</a></li>
                <li><a href="@Root/csharpseries.html#aggregation">Grouping & windowing</a></li>
                <li><a href="@Root/csharpseries.html#sampling">Indexing & sampling</a></li>
              </ul>
              }
            </li>
            <li>
              <a href="@Root/csharpframe.html">Working with data frames</a>
              @if (Properties.Dictionary.ContainsKey("page-source") && Properties["page-source"].ToString().EndsWith("csharpframe.md"))
              {
              <ul class="nav nav-list">
                <li><a href="@Root/csharpframe.html#understanding">What is a data frame</a></li>
                <li><a href="@Root/csharpframe.html#creating">Creating data frames</a></li>
                <li><a href="@Root/csharpframe.html#indices">Row and column indices</a></li>
                <li><a href="@Root/csharpframe.html#joining">Joining &amp; aligning</a></li>
                <li><a href="@Root/csharpframe.html#data">Series operations</a></li>
                <li><a href="@Root/csharpframe.html#linq">LINQ to Frames</a></li>
              </ul>
              }
            </li>

            <li class="nav-header">Documentation</li>
            <li><a href="@Root/reference/index.html">API Reference</a></li>
            <li class="divider"></li>
            <li><a href="@Root/reference/deedle-seriesmodule.html">Series module</a></li>
            <li><a href="@Root/reference/deedle-framemodule.html">Frame module</a></li>
            <li><a href="@Root/reference/deedle-stats.html">Stats module</a></li>

            <li class="nav-header">Samples</li>
            <li><a href="@Root/lazysource.html">Lazy data loading</a></li>
          </ul>
        </div>
      </div>
    </div>
    <a href="@Properties["project-github"]"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
    <script>
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-45379232-1', 'bluemountaincapital.github.io');
      ga('send', 'pageview');
    </script>
  </body>
</html>